@keyframes circleRotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(1440deg);
  }
}
@keyframes hideSpinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes showMainContainer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fillLikeButton {
  0% {
    color: #9356DC;
    opacity: 0.3;
    scale: 70%;
  }
  50% {
    opacity: 0.6;
    scale: 80%;
  }
  90% {
    opacity: 0.8;
    scale: 90%;
  }
  100% {
    color: #FF79DA;
    opacity: 1;
    scale: 100%;
  }
}
@keyframes checkRotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes showMenuSection {
  0% {
    opacity: 0;
    transform: translateY(5px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
/*
Colors Variables
*/
/*
Fonts
*/
.like-button i, .select-button i {
  font-size: 22px;
}

.section-title {
  font-size: 24px;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
}

.card-title {
  font-size: 18px;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
}

.card-subtitle {
  font-size: 17px;
  font-weight: 300;
  font-family: "Roboto", sans-serif;
}

.medium {
  font-size: 16px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
}

.regular {
  font-size: 16px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
}

.light {
  font-size: 18px;
  font-weight: 300;
  font-family: "Roboto", sans-serif;
}

.new {
  font-size: 14px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
}

.restaurant-name {
  font-size: 28px;
  font-weight: 400;
  font-family: "Shrikhand", sans-serif;
}

.menu-section-title {
  font-size: 16px;
  font-weight: 300;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
}

.name {
  font-size: 18px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
}

.description {
  font-size: 15px;
  font-weight: 300;
  font-family: "Roboto", sans-serif;
}

.price {
  font-size: 15px;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
}

/* reset global settings */
h1, h2, h3, p {
  margin: 0;
}

/* reset bullets */
ul {
  list-style-type: none;
  margin: 0; /* remove default margin */
  padding-left: 0; /* remove 40px default padding that comes with ul bullets */
}

/* reset links */
a {
  text-decoration: none;
  color: inherit;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: normal;
  align-items: stretch;
  width: 100%;
}
header .header__logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* dimensions and spacing */
  padding: 15px 0;
  /* borders and background */
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
}
header .pages {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
header .header__logo img {
  /* dimensions and spacing */
  max-width: 50%;
}
header .header__location form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* dimensions and spacing */
  height: 50px;
  gap: 17px;
  /* borders and background */
  background-color: #EAEAEA;
  color: #353535;
}
header .header__location form label {
  height: 16px;
}
header .header__location form input {
  /* dimensions and spacing */
  width: 122px;
  /* borders and background */
  border: none;
  background: none;
  /* typography */
  font-size: 18px;
  font-weight: 300;
  color: #353535;
  /* input field */
  outline: none;
  box-shadow: none;
  appearance: none;
  caret-color: transparent;
}
header .header__location form input ::placeholder {
  color: #353535;
  opacity: 1; /* Firefox */
}
header a {
  position: absolute;
  left: 30px;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  /* dimensions and spacing */
  padding: 22px 25px;
  gap: 16px;
  /* borders and background */
  background-color: #353535;
}
footer .footer__logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
footer .footer__logo img {
  /* dimensions and spacing */
  width: 138px;
  height: 27px;
  /* change color of logo in white */
  filter: invert(1);
}
footer .footer__nav {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  /* dimensions and spacing */
  gap: 7px;
}
footer .footer__nav a {
  color: white;
}
footer .footer__nav .fa-utensils {
  /* color */
  color: white;
}

/*!* ---- Large Devices (more than 1024px) ---- *!*/
@media (min-width: 1024px) {
  footer {
    /* layout */
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: flex-end;
    align-content: flex-end;
    /* dimensions and spacing */
    padding: 30px 25px;
    gap: 100px;
  }
  footer .footer__logo {
    /* layout */
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
  }
  footer .footer__nav {
    /* layout */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    align-content: flex-end;
  }
  footer .footer__nav ul {
    /* layout */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    align-content: flex-end;
    /* dimensions and spacing */
    gap: 50px;
  }
}
button {
  /* dimensions and spacing */
  padding: 13px 18px;
  /* borders and background */
  border: none;
  border-radius: 25px;
  background: linear-gradient(193deg, #9356DC -11.44%, #FF79DA 123.93%);
  /* shadow */
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
  /* color */
  color: white;
}
button:hover {
  background: linear-gradient(201deg, #9356DC -5.2%, #FF79DA 110.74%);
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.35);
}

.like-button {
  position: relative;
  width: 30px;
  height: 30px;
}
.like-button .empty, .like-button .full {
  position: absolute;
  top: 0;
  left: 0;
}
.like-button .empty {
  visibility: visible;
}
.like-button .full {
  visibility: hidden;
}
.like-button:hover .empty {
  visibility: hidden;
}
.like-button:hover .full {
  visibility: visible;
  animation: fillLikeButton 0.3s linear forwards;
}

.spinner-balls {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  height: 40px;
  width: 40px;
  transform: translate(-50%, -50%);
  animation: hideSpinner 0s 3s forwards;
}

[class^=ball-] {
  position: absolute;
  display: block;
  left: 30px;
  width: 12px;
  height: 12px;
  border-radius: 6px;
  transition: all 0.5s;
  animation: circleRotate 3s both infinite;
  transform-origin: 0 300% 0;
}

.ball-1 {
  z-index: -1;
  background-color: #9356DC;
  animation-timing-function: cubic-bezier(0.5, 0.3, 0.9, 0.9);
}

.ball-2 {
  z-index: -2;
  background-color: #FF79DA;
  animation-timing-function: cubic-bezier(0.5, 0.6, 0.9, 0.9);
}

.ball-3 {
  z-index: -3;
  background-color: #99E2D0;
  animation-timing-function: cubic-bezier(0.5, 0.9, 0.9, 0.9);
}

.ball-4 {
  z-index: -4;
  background-color: #9356DC;
  animation-timing-function: cubic-bezier(0.5, 1.2, 0.9, 0.9);
}

.ball-5 {
  z-index: -5;
  background-color: #FF79DA;
  animation-timing-function: cubic-bezier(0.5, 1.5, 0.9, 0.9);
}

.ball-6 {
  z-index: -6;
  background-color: #99E2D0;
  animation-timing-function: cubic-bezier(0.5, 1.8, 0.9, 0.9);
}

.main-container {
  opacity: 0;
  animation: showMainContainer 1s 3s forwards;
}

.homepage-banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* dimensions and spacing */
  padding: 30px 0;
  /* background */
  background-color: #F6F6F6;
}
.homepage-banner * {
  /* dimensions and spacing */
  margin: 10px;
  text-align: center;
}

/*!* ---- Large Devices (more than 1024px) ---- *!*/
@media (min-width: 1024px) {
  .homepage-banner .section-title {
    /* typography */
    font-size: 40px;
  }
}
.howitworks__illustration {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  /* dimensions and spacing */
  padding: 50px 0;
}
.howitworks__illustration div {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  /* dimensions and spacing */
  width: 322px;
  height: 72px;
  margin: 15px 15px 15px 0;
  /* borders and background */
  border-radius: 20px;
  background: #F6F6F6;
  /* shadow */
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}
.howitworks__illustration div i {
  /* dimensions and spacing */
  margin-right: 15px;
}
.howitworks__illustration div .fa-utensils, .howitworks__illustration div .fa-list-ul {
  /* color */
  color: #7E7E7E;
}
.howitworks__illustration div .fa-store {
  /* color */
  color: #9356DC;
}
.howitworks__illustration div .circle {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  left: -12px; /* Moves the circle to the left */
  /* dimensions and spacing */
  width: 24px;
  height: 24px;
  max-width: 24px;
  max-height: 24px;
  /* borders and background */
  border-radius: 50%;
  background-color: #9356DC;
  /* color */
  color: white;
}

/*!* ---- Large Devices (more than 1024px) ---- *!*/
@media (min-width: 1024px) {
  .howitworks {
    /* dimensions and spacing */
    padding: 50px 0;
  }
  .howitworks__illustration {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    /* dimensions and spacing */
    padding: 0 180px;
    gap: 15px;
  }
}
/*
Colors Variables
*/
.restaurants {
  background-color: #F6F6F6;
  /*!* ---- Large Devices (more than 1024px) ---- *!*/
}
.restaurants .restaurants-grid {
  /* layout */
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  align-self: stretch;
  /* dimensions and spacing */
  grid-gap: 30px;
}
.restaurants .restaurants-grid .card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  /* dimensions and spacing */
  box-sizing: border-box;
  /* borders and background */
  border-radius: 15px;
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.1);
  background-color: white;
}
.restaurants .restaurants-grid .card a {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  /* dimensions and spacing */
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  /* borders and background */
  border-radius: 20px;
}
.restaurants .restaurants-grid .card a img {
  /* layout */
  align-self: stretch;
  /* dimensions and spacing */
  width: 100%;
  height: 231px;
  box-sizing: border-box;
  /* borders and background */
  border-radius: 20px 20px 0 0;
  /* image */
  object-fit: cover;
}
.restaurants .restaurants-grid .card a .new {
  /* layout */
  position: absolute;
  top: 10px;
  right: 15px;
  flex-shrink: 0;
  /* dimensions and spacing */
  width: 80px;
  padding: 5px 10px;
  /* borders and background */
  border-radius: 2px;
  background-color: #99E2D0;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
  /* text */
  text-align: center;
  color: #008766;
}
.restaurants .restaurants-grid .card a .card-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  /* dimensions and spacing */
  padding: 15px;
  gap: 8px;
}
.restaurants .restaurants-grid .card a .card-content .card-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
  /* dimensions and spacing */
  gap: 8px;
}
@media (min-width: 1024px) {
  .restaurants .restaurants-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px 100px;
    padding: 0 180px;
  }
}

.howitworks, .restaurants {
  /* dimensions and spacing */
  padding: 50px 15px;
}

/*!* ---- Large Devices (more than 1024px) ---- *!*/
@media (min-width: 1024px) {
  .section-title {
    /* dimensions and spacing */
    padding: 30px 180px;
  }
}
/*---------- restaurant banner ----------*/
.restaurant-banner {
  width: 375px;
  height: 275px;
  object-fit: cover;
}
.restaurant-banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*---------- menu ----------*/
.menu-frame {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: -30px;
}

.menu-content {
  /* layout */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  top: -30px;
  /* dimensions */
  width: 100%;
  padding: 40px 0;
  gap: 40px;
  /* borders and background */
  border-radius: 25px 25px 0 0;
  background-color: #F6F6F6;
}
.menu-content .menu-content-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}
.menu-content .menu-content-title .restaurant-name, .menu-content .menu-content-title .like-button {
  display: flex;
}

/*---------- menu sections ----------*/
.menu-section {
  display: flex;
  flex-direction: column;
  justify-content: normal;
  align-items: normal;
  /* dimensions */
  margin: 10px;
  gap: 12px;
}
.menu-section .menu-section-header {
  display: flex;
  flex-direction: column;
  justify-content: normal;
  align-items: flex-start;
  gap: 4px;
}
.menu-section .menu-section-header .underline {
  width: 40px;
  height: 3px;
  background-color: #99E2D0;
}

/*---------- menu courses ----------*/
.course {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: normal;
  position: relative;
  overflow: hidden;
  /* dimensions */
  gap: 30px;
  /* borders and background */
  border-radius: 15px;
  background: white;
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.1);
  animation: showMenuSection 0.5s ease-in-out forwards;
}
.course:nth-child(2) {
  animation-delay: 0.1s;
}
.course:nth-child(3) {
  animation-delay: 0.2s;
}
.course:nth-child(4) {
  animation-delay: 0.3s;
}
.course .select-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  visibility: hidden;
  /* dimensions */
  width: 59px;
  height: 100%;
  right: -15%;
  /* borders and background */
  background-color: #99E2D0;
  color: white;
  border-radius: 0 15px 15px 0;
  transition: all 0.5s ease-in-out;
}
.course .course-details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  /* dimensions */
  width: 349px;
  padding: 15px;
  gap: 10px;
  transition: all 0.5s ease-in-out;
}
.course .course-details:hover {
  width: 290px;
}
.course .course-details:hover + .select-button {
  right: 0;
  visibility: visible;
}
.course .course-details:hover + .select-button i {
  animation: checkRotate 0.5s linear forwards;
}
.course .course-details .course-description {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  overflow: hidden;
}
.course .course-details .course-description .name, .course .course-details .course-description .description {
  /* layout */
  white-space: nowrap;
  overflow: hidden;
  overflow-wrap: break-word;
  text-overflow: ellipsis;
  /* dimensions */
  width: 100%;
}

/*!* ---- Small Devices (more than 375px) ---- *!*/
@media (min-width: 375px) {
  .restaurant-banner {
    width: 100%;
    height: 100%;
  }
}
/*!* ---- Large Devices (more than 1024px) ---- *!*/
@media (min-width: 1024px) {
  .restaurant-banner {
    height: 383px;
    object-fit: cover;
  }
  .menu-content {
    /* dimensions */
    width: 1055px;
  }
  .menu-content .course-details {
    /* dimensions */
    width: 634px;
  }
  .menu-content .course-details:hover {
    width: 575px;
  }
}

/*# sourceMappingURL=style.css.map */
