.howitworks, .restaurants {
  /* dimensions and spacing */
  padding: 50px 15px;
}

/*!* ---- Large Devices (more than 1024px) ---- *!*/
@media (min-width: 1024px) {
  .section-title {
    /* dimensions and spacing */
    padding: 30px 180px;
  }
}

/*!* ---- Large Devices (more than 1440px) ---- *!*/
@media (min-width: 1440px) {
  .howitworks, .restaurants {
    /* dimensions and spacing */
    padding: 0 15px 50px 15px;
  }
}

