/*---------- restaurant banner ----------*/

.restaurant-banner {
    width: 375px;
    height: 275px;
    object-fit: cover;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
  }

/*---------- menu ----------*/

.menu-frame {
    @include layout(column, center, center);
    margin-bottom: -30px; // related to the menu-content top: -30px
}

.menu-content {
    /* layout */
    @include layout(column, center, center);
    position: relative;
    top: -30px; // related to the menu-frame margin-bottom: -30px
    /* dimensions */
    width: 100%;
    padding: 40px 0;
    gap: 40px;
    /* borders and background */
    border-radius: 25px 25px 0 0;
    background-color: $grey-background;

    .menu-content-title {
        @include layout(row, space-between, center);
        gap: 30px;

        .restaurant-name, .like-button {
            display: flex;
        }
    }
}

/*---------- menu sections ----------*/

.menu-section {
    @include layout(column, normal, normal);
    /* dimensions */
    margin: 10px;
    gap: 12px;

    .menu-section-header {
        @include layout(column, normal, flex-start);
        gap: 4px;

        .underline {
            width: 40px;
            height: 3px;
            background-color: $light-green;
        }
    }
}

/*---------- menu courses ----------*/
.course {
    @include layout(row, space-between, normal);
    position: relative;
    overflow: hidden;
    /* dimensions */
    gap: 30px;
    /* borders and background */
    border-radius: 15px;
    background: white;
    box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.10);

    .select-button {
        @include layout(row, center, center);
        position: absolute;
        visibility: hidden;
        /* dimensions */
        width: 59px;
        height: 100%;
        right: -15%;
        /* borders and background */
        background-color: $light-green;
        color: white;
        border-radius: 0 15px 15px 0;
        transition: all 0.5s ease-in-out; // from right -15% to 0 on hover
    }

    .course-details {
        @include layout(row, space-between, flex-end);
        /* dimensions */
        width: 349px;
        padding: 15px;
        gap: 10px;
        transition: all 0.5s ease-in-out; // from width 349px to 290px on hover

        &:hover {
            width: 290px;
        }

        &:hover + .select-button {
            right: 0;
            visibility: visible;

            i {
                animation: checkRotate 0.5s linear forwards;
            }
        }

        .course-description {
            @include layout(column, flex-start, flex-start);
            overflow: hidden;

            .name, .description {
                /* layout */
                white-space: nowrap;
                overflow: hidden;
                overflow-wrap: break-word;  // marche pas
                text-overflow: ellipsis;
                /* dimensions */
                width: 100%;
            }
        }
    }
}

/*!* ---- Small Devices (more than 375px) ---- *!*/
@media (min-width: 375px) {
    .restaurant-banner {
        width: 100%;
        height: 100%;
    }
}

/*!* ---- Large Devices (more than 1024px) ---- *!*/
@media (min-width: 1024px) {

    .restaurant-banner {
        height: 383px;
        object-fit: cover;
    }
    .menu-content {
        /* dimensions */
        width: 1055px;

        .course-details {
            /* dimensions */
            width: 634px;

            &:hover {
                width: 575px;
            }
        }
    }
}