/*---------- menu ----------*/
.menu-frame {
   @include frame;
}

.menu-content {
    @include content;
    width: 100%;

    .menu-content-title {
        @include layout(row, space-between, center);
        gap: 30px;

        .restaurant-name, .like-button {
            display: flex;
        }
    }
}

/*---------- menu sections ----------*/

.menu-section {
    @include layout(column, normal, normal);
    /* dimensions */
    margin: 10px;
    gap: 12px;

    .menu-section-header {
        @include layout(column, normal, flex-start);
        gap: 4px;
    }
}

/*---------- menu courses ----------*/
.course {
    @include layout(row, space-between, normal);
    position: relative;
    overflow: hidden;
    /* dimensions */
    gap: 30px;
    /* borders and background */
    border-radius: 15px;
    background: white;
    box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.10);

    animation: showMenuSection 0.5s ease-in-out forwards;
    &:nth-child(2) {
        animation-delay: 0.1s;
    }
    &:nth-child(3) {
        animation-delay: 0.2s;
    }
    &:nth-child(4) {
        animation-delay: 0.3s;
    }
    &:nth-child(5) {
        animation-delay: 0.4s;
    }

    .select-button {
        @include layout(row, center, center);
        position: absolute;
        visibility: hidden;
        /* dimensions */
        width: 59px;
        height: 100%;
        right: -15%;
        /* borders and background */
        background-color: $light-green;
        color: white;
        border-radius: 0 15px 15px 0;
        transition: all 0.5s ease-in-out; // from right -15% to 0 on hover
    }

    .course-details {
        @include layout(row, space-between, flex-end);
        /* dimensions */
        width: 319px;
        padding: 15px;
        gap: 10px;
        transition: all 0.5s ease-in-out; // from width 319px to 260px on hover

        &:hover {
            width: 260px;
        }

        &:hover + .select-button {
            right: 0;
            visibility: visible;

            i {
                animation: checkRotate 0.5s linear forwards;
            }
        }

        .course-description {
            @include layout(column, flex-start, flex-start);
            overflow: hidden;

            .name, .description {
                /* layout */
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                /* dimensions */
                width: 100%;
            }
        }
    }
}

/*!* ---- Medium Devices (more than 412px) ---- *!*/
@media (min-width: 412px) {
    .course-details {
        /* dimensions */
        width: 349px;

        &:hover {
            width: 290px;
        }
    }
}

/*!* ---- Large Devices (more than 1024px) ---- *!*/
@media (min-width: 1024px) {
    .menu-content {
        /* dimensions */
        width: 800px;

        .course-details {
            /* dimensions */
            width: 634px;

            &:hover {
                width: 575px;
            }
        }
    }
}

/*!* ---- Extra-Large Devices (more than 1440px) ---- *!*/
@media (min-width: 1440px) {
    .menu-content {
        /* dimensions */
        width: 1055px;
    }
}