button {
  /* dimensions and spacing */
  padding: 13px 18px;
  /* borders and background */
  border: none;
  border-radius: 25px;
  background: linear-gradient(175deg, $pink 0%, $purple 100%);
  /* shadow */
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
  /* color */
  color: white;
}