
.footer {
  @include layout(column, flex-start, flex-start);
  /* dimensions and spacing */
  width: 100%;
  padding: 22px 25px;
  gap: 16px;
  /* borders and background */
  background-color: $dark-grey;

  &__logo {
    @include layout(row, center, center);
    flex-shrink: 0;

    img {
      /* dimensions and spacing */
      width: 138px;
      height: 27px;
      /* change color of logo in white */
      filter: invert(1);
    }
  }

  &__nav {
    @include layout(column, flex-start, flex-start);
    /* dimensions and spacing */
    gap: 7px;

    a {
      color: white;
    }

    .fa-utensils {
      /* color */
      color: white;
    }
  }
}

/*!* ---- Large Devices (more than 1024px) ---- *!*/
@media (min-width: 1024px) {
  .footer {
    /* layout */
    @include layout(row-reverse, flex-start, flex-end);
    align-content: flex-end;
    /* dimensions and spacing */
    padding: 30px 25px;
    gap: 16px;

    &__logo {
      /* layout */
      @include layout(row, flex-end, center);
    }

    &__nav ul {
      /* layout */
      @include layout(row, flex-start, flex-end);
      align-content: flex-end;
      /* dimensions and spacing */
      gap: 7px;
    }
  }
}