header {
  @include layout(column, normal, stretch);
  width: 100%;

  .header__logo {
    @include layout(row, center, center);
    /* dimensions and spacing */
    padding: 15px 0;
    /* borders and background */
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
    z-index: 1;
  }

  .pages {
    @include layout(row, center, center);
  }

  .header__logo img {
    /* dimensions and spacing */
    max-width: 50%;
  }

  .header__location form {
  @include layout(row, center, center);
  /* dimensions and spacing */
  height: 50px;
  gap: 17px;

  /* borders and background */
  background-color: $light-grey;
  color: $dark-grey;

    label {
      height: 16px;
    }

    input {
      /* dimensions and spacing */
      width: 122px;
      /* borders and background */
      border: none;
      background: none;
      /* input field */
      outline: none;
      box-shadow: none;
      appearance: none;
      caret-color: transparent; // hide the caret
      /* placeholder */
      color: $dark-grey;
      opacity: 1; /* Firefox */
      -webkit-text-fill-color: $dark-grey; /* Chrome */
    }
  }

  a {
    position: absolute;
    left: 30px;
  }
}

/*!* ---- Large Devices (more than 1024px) ---- *!*/
@media (min-width: 1024px) {
  header {
    .header__logo {
      padding: 30px 0;
    }

    .header__logo img {
      max-width: 30%;
    }
  }
}

/*!* ---- Extra Large Devices (more than 1440px) ---- *!*/
@media (min-width: 1440px) {
  header {

    .header__logo img {
      max-width: 15%;
    }
  }
}