.like-button {
  position: relative;
  width: 30px;
  height: 30px;

  // superposition of icons
  .empty, .full {
    position: absolute;
    top: 0;
    left: 0;
  }

  .empty {
    visibility: visible;
  }

  .full {
    visibility: hidden;
  }

  &:hover .empty {
    visibility: hidden;
  }

  &:hover .full {
    visibility: visible;
    animation: fillLikeButton 0.3s linear forwards;
  }
}

