.menu-content-title {
  border: 5px solid yellow;
}

.like-button {
  position: relative;
  width: 30px;
  height: 30px;

  // superposition of icons
  .empty, .full {
    position: absolute;
    top: 0;
    left: 0;
  }

  .empty {
    visibility: visible;
    color: yellowgreen;
  }

  .full {
    visibility: hidden;
    color: #89C8FA;
  }

  &:hover .empty {
    visibility: hidden;
  }

  &:hover .full {
    visibility: visible;
  }

}

