/*
Colors Variables
*/

$light-green: #99E2D0;
$dark-green: #008766;
$light-blue: #89C8FA;
$dark-blue: #003A68;
$purple: #9356DC;
$pink: #FF79DA;
$light-grey: #EAEAEA;
$dark-grey: #353535;
$grey-background: #F6F6F6;
$grey-icon: #7E7E7E;

