/* reset global settings */

h1, h2, p {
  margin-top: 0;
}

/* reset bullets */

ul {
  list-style-type: none;
  margin: 0; /* remove default margin */
  padding-left: 0; /* remove 40px default padding that comes with ul bullets */
}

/* reset links */

a {
  text-decoration: none;
  color: inherit;
}