$purple: #9356DC;
$pink: #FF79DA;

// keyframes to spin balls
@keyframes circleRotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(1440deg); // 4 turns
  }
}

// keyframes to hide spinner after 3s
@keyframes hideSpinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

// keyframes to show main-container after 3s
@keyframes showMainContainer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

//keyframes to fill like button
@keyframes fillLikeButton {
  0% {
    color: $purple;
    opacity: 0.3;
    transform: scale(0.7);
  }
  70% {
    color: $purple;
  }
  100% {
    color: $pink;
    opacity: 1;
    transform: scale(1);
  }
}

// keyframes to rotate check icon in select-button
@keyframes checkRotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

// keyframes for progressive appearance of menu-sections
@keyframes showMenuSection {
  0% {
    opacity: 0;
    transform: translateY(5px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

