
@mixin font($size, $weight, $family: 'Roboto') {
  font-size: $size;
  font-weight: $weight;
  font-family: $family, sans-serif;
}

@mixin layout($direction, $justify, $align-items) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align-items;
}

@mixin frame {
  @include layout(column, center, center);
  margin-bottom: -30px; // related to the menu-content top: -30px
  box-sizing: border-box;
}

@mixin content {
  @include layout(column, center, center);
  position: relative;
  top: -30px; // related to the menu-frame margin-bottom: -30px
  /* dimensions */
  padding: 40px 0;
  gap: 30px;
  box-sizing: border-box;
  /* borders and background */
  border-radius: 25px 25px 0 0;
  background-color: $grey-background;
}

